
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}
#fixed {
    position: fixed;
}
#fixed.absolute {
    position: absolute;
}
#loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ECE3F0 center;
  z-index: 999;
  position: relative;
}
.preimg{
  height: 40%;
  width: 25%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* .LogoF{
  width: 7%;
  margin: 0 0 1% 1%;
  height: 7vh;
} */
  .navbar{
    background: linear-gradient(120deg,rgba(236, 227, 240,0.15) 1%, rgba(0,0,0,0) 18%);
  }
.nav-tabs{
  font-size: 1.4rem;
}
/* .nav-link{
  padding: .5rem 12rem;
} */
.nav-item{
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}
.navbar .row{
  width: 100%;
}
.nav1{
  width: 40%;
}
.nav2{
  display: flex;
align-items: center;
}
.LogoutBTN{
  background: rgba(0,0,0,0);
  border: 0;
  color: #E8ECEF;
  font-size: 1.5rem;
}
.login{
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1rem;
  align-items: center;
}
.login .toggle{
  width: 40% !important;
  height: auto !important;
}
.login .form-check{
  padding-left: 1em;
  padding-right: 1em;
  display: ruby;
}
.login .form-check *{
  margin: auto;
  color: #EEEDE7;
}
.login .form-check .form-check-input {
  background-color: #77DDF9;
  border-color: #EEEDE7;
  float: none;
margin: revert-layer;
}
.login .form-check .form-check-input:checked {
  background-color: #fad02c;
  border-color: #EEEDE7;
}
#togglePassword{
  margin-left: -6%;
  cursor: pointer;
}
.tabs{
  margin: 1% auto;
padding-left: 14%;
padding-right: 14%;
}
.cal{
  height: 80%;
  width: 72%;
  margin: 0 auto;
}
#calendarTitle {
  display: none;
}
.cal-content{
  width: 100%;
  height: 100vh;
}

.searchtab{
  padding-left: 30%;
padding-right: 30%;
text-align: center;
}
.Searchbox{
  display: flex;
  margin: 10% auto;
}
.sbox{
  height: 3rem;
  width: 45rem;
  font-size: 1.5rem;
}
.tag{
  width: 9rem;
  font-size: 1rem;
}
.err {
  width: 40%;
  text-align: center;
  padding-top: 2%;
}
.err1 {
  width: 100%;
  text-align: center;
  padding-top: 2%;
}
.errIMG{
  width: 100%;
}

.prof{
  height: 90vh;
  width: auto;
  padding: 10%;
  -webkit-box-shadow: inset 10px 9px 31px 1px rgba(0,0,0,0.32);
-moz-box-shadow: inset 10px 9px 31px 1px rgba(0,0,0,0.32);
box-shadow: inset 10px 9px 31px 1px rgba(0,0,0,0.32);
  /* background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */
  /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
  /* background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500); */
/* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
/* background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
}
.options{
  display: block ruby;
    padding-top: 5%;
    height: 25%;
    width: 100%;
}
.options a{
  color: black;
  text-decoration: none;
}
.proico{
  font-size: 1.4rem;
}
.avatar{
  border-radius: 50%;
object-position: center;
height: 40vh;
width: 40vh;
object-fit: fill;
}
.C1{
  height: auto;
  width: 100%;
}

.box{
  position: absolute;
  width: 100%;
  text-align: center;
}

.tile{
  height: 30vh;
  width: 20rem;
  display: inline-block;
  background-color: cyan;
  position: relative;
  text-align: justify;
  /* background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
  border-radius: 7%;
  -webkit-box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
-moz-box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
}
.tileForm{
  display: inline-block;
  margin: 3%;
}

.pic{
  z-index: 5;
  height: 56%;
  width: 40%;
  position: relative;
  border-radius: 50%;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  /* object-fit: none; */
  object-position: center;
  box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.6);
  /* background-color: #7ee8fa; */
}
.sep{
  z-index: 4;
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  height: 3% !important;
  width: 100%;
  background-color: #E8ECEF;
  opacity: 1;
}
.UN{
  z-index: 3;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 153%;
}
.CR{
  z-index: 2;
  position: absolute;
  top: 56%;
  left: 50%;
}
.infoBTN{
  z-index: 3;
position: absolute;
top: 80%;
left: 87%;
background: rgba(0,0,0,0);
border: 0;
color: black;
font-size: 1.2rem;
opacity: 0.6;
}
.searchResult{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 3%;
}
.searchResult .row{
    --bs-gutter-x: 0rem !important;}
.searchResult .padding .row .col-md-12 {
      width: 100%;
    }
/* .searchResult .row *{
    padding-left: 0 !important;
    padding-right: 0 !important;
} */
.searchResult .padding{ padding: 0 !important;}

.sortOption{
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  column-gap: 10%;
  align-items: center;
}


.closeSearchedProf{
  z-index: 2;
  position: absolute;
  right: 0;
}
.closeSearchedProf .closeBTN{
  font-size: 1.3rem;
background: rgba(0,0,0,0);
border: 0;
color: #383940;
}

/* .chart{
  text-align: center;
width: 80%;
margin: auto;
} */
  .statField{
    font-weight: bolder;
    color: white;
    position: relative;
  margin-top: 2.5vw;
  font-size: 1.6vw;
  }
  .statValue{
    font-weight: bolder;
  color: black;
  position: relative;
  margin-top: 16%;
font-size: 2.5vw;

  }
  .statBox{
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 100%;
    background-position: center;
  }
  .statContainer{
    display: flex;
    height: 12vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% auto;
  }
  .fade {
  display: none;
}
.fade.in {
  display: block;
  opacity: 1;
}
.alert{
  width: 20%;
  float: right;
  text-align: center;
  border-radius: 1em;
  z-index: 2;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
left: 78%;
top: 13%;
}

/* .chartIMG{
  width: 50%;
  z-index: 2;
  -webkit-box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
-moz-box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
box-shadow: 5px 10px 15px 1px rgba(0,0,0,0.2), inset 10px 9px 31px 1px rgba(0,0,0,0.32);
} */

@media (max-width: 5120px) and (min-width :990px)
{
.LogoF{
  width: 15%;
margin: 0 0 1% 1%;
height: 9vh;
}
.login{
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1rem;
}
.loginF{
  width: 60%;
  height: 100%;
}
.tag {
  width: 12rem;
font-size: 1.4rem;
}
.tags {
  width: 100%;
}
.cal-content{
  height: 70vh;
width: 100%;
margin: 0 auto;
}
.preimg{
  height: 39%;
  width: 27%;
}
h1{
  font-size: 2.5rem;
  font-weight: 600;
  font-family: ubuntu;
  font-family: 'Ubuntu', sans-serif;
}
h2
{
  font-size: 2rem;
  font-weight: bold;
  font-weight: 600;
}
.myChartClass{
  width:100%;
  height: auto;
}
.ratingGraph{
width: 60%;
text-align: center;
margin: auto;
}
.noFRD{
  width: 50%;
margin: auto;
opacity: 0.6;
}
.noFRDimg{
  width: 100%;
}
}

@media (max-width: 989px) and (min-width:769px) {
  .LogoF{
    width: auto;
  margin: 0 0 1% 1%;
  height: 4vh;
  }
  .nav1{
    text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  }

.login{
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1rem;
}
.loginF{
  width: 60%;
  height: 100%;
}
.nav-item{
  font-size: 1.5rem;
}
.errIMG{
  width: 100%;
}
.tag {
  width: 55%;
font-size: 1.2rem;
}
.tags {
  width: 100%;
}
.cal-content{
  width: 100%;
margin: 0 auto;
height: 70vh;
}
.preimg{
  height: 33%;
  width: 34%;
}
.noFRD{
  width: 50%;
margin: auto;
opacity: 0.6;
}
.noFRDimg{
  width: 100%;
}
}

@media (max-width: 768px) and (min-width:401px) {
  .LogoF{
    width: auto;
margin: 0 0 1% 1%;
height: 4vh;
  }
  .nav1{
    text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  }

  .login{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 1rem;
  }
  .loginF{
    width: 60%;
    height: 100%;
  }
  .nav-item{
    font-size: 1rem;
  }
  .sbox {
    height: 3rem;
  width: 35rem;
  font-size: 1rem;
}
.errIMG{
  width: 135%;
}
.tag {
  width: 77%;
}
.tags {
  width: 100%;
}
.cal-content{
  height: 70vh;
width: 100%;
margin: 0 auto;
}
.preimg{
  height: 23%;
width: 39%;
}
.noFRD{
  width: 50%;
margin: auto;
opacity: 0.6;
}
.noFRDimg{
  width: 100%;
}
}

@media (max-width: 400px) and (min-width:0px){
  .preimg{
    height: 27% !important;
width: 67% !important;
  }
  .padding{
      padding: 2rem 0;
    }
    .LogoF{
      width: auto;
  margin: 0 0 1% 1%;
  height: 4vh;
    }
    .padding{
      padding: 0;
    }
    .padding .row{
      --bs-gutter-x: 1rem;
    }
    .padding p{
      margin-bottom: 0.5rem;
    }
    .field{
      font-size: 0.8rem;
    }
    .text-muted{
      font-size: 0.8rem;
    }
    .login{
      display: flex;
      column-gap: 0.5rem;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .loginF{
      width: 123% !important;
      height: 100%;
      padding: .375rem .2rem;
      font-size: 0.7rem;
    }
    .login .toggle{
      width: 40% !important;
      height: 3vh;
      min-width: 3.9rem;
      min-height: 1.5rem;
    }
    .login .btn-outline-success{
      font-size: 0.7rem;
    }
    .toggle .toggle-group label{
      font-size: 0.7rem;
    }
    .nav-item{
      font-size: 0.8rem;
    }
    .nav-link{
      padding: .5rem 0rem;
    }
    .fade {
    display: none;
  }
  .fade.in {
    display: block;
    opacity: 1;
  }
  .alert{
    padding: 0.5rem 1rem;
    width: 45%;
    font-size: 0.8rem;
    left: 51%;
    top: 14%;
  }
    .nav1{
      text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    }
    .login .typeHome {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    font-size: 0.7rem;
    flex-wrap: wrap;
    width: 120% !important;
    align-items: center;
  }
  .login .typeDash {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  font-size: 0.7rem;
  flex-wrap: wrap;
  width: 232% !important;
  align-items: center;
}
#togglePassword{
  margin-left: -8%;
  cursor: pointer;
  font-size: 0.7rem;
}
    .Searchbox .fas{
      font-size: 0.7rem;
    }
    .Searchbox{
      display: flex;
  margin: 10% auto;
  transform: translateX(-18%);
    }
    .searchResult{
      width: 80% !important;
    }
    .sbox {
      height: 2rem;
  width: 8rem;
  font-size: 1rem;
  }
  .box{
    min-height: 100vh;
  }

  .user-profile {
      padding: 0 !important;
  }
  .tag {
    width: 90%;
  font-size: 0.7rem;
  }
  .card-block .img-radius {
    height: 60%;
  width: 60%;
  max-height: 40vh;
  max-width: 40vh;
  }
  .tags {
    width: 100%;
  }
  .cal{
    width: 90% !important;
  }
  .cal-content{
    width: 100%;
margin: 0 auto;
height: 50vh;
}
.logOut{
  position: absolute;
top: 4%;
right: 4%;
}
.C1{
  text-align: center;
}
.avatar {
  height: 60% !important;
width: 60% !important;
}
.userInfo{
  font-size: 1.2em !important;
text-align: center;
}
.userInfo *{
}
.userInfo h2{
  font-size: larger;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}
.userInfo h5{
  font-size: 1.2rem;
}
.userInfo h1{
  font-size: 2rem !important;
font-family: 'Ubuntu', sans-serif;
}
.Rating_Link h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 2em;
}

.options{
  text-align: center;
  display: block ruby;
}
.options a *{
  font-size: 1.5em;
  text-decoration: none;
}
.proico {
  font-size: 1rem;
}
.prof{
  height: auto !important;
  min-height: 88vh;
}
.sortBTN{
  font-size: 0.6rem;
}
.UN{
  font-size: 4vw !important;
  font-family: 'Roboto', sans-serif;
}
.CR{
  top: 62% !important;
font-size: 0.9rem !important;
font-family: 'Roboto', sans-serif;
}
.infoBTN{
  top: 78% !important;
left: 85% !important;
font-size: 0.8rem !important;
opacity: 0.4;
}
.statBox{
  width: 30% !important;
height: auto !important;
margin: 3% auto !important;
}
.statField{
  margin-top: 4vw !important;
font-size: 3vw !important;
}
.statValue{
  font-size: 6vw !important;
}
.myChartClass{
  width:100% !important;
  height: auto !important;
}
.ratingGraph{
width:100%;
text-align: center;
margin: auto;
}
.noFRD{
  width: 100%;
margin: auto;
opacity: 0.6;
}
.noFRDimg{
  width: 100%;
}
.err1 {
  width: 75%;
  text-align: center;
  padding-top: 2%;
}
.sep {
  z-index: 4;
  position: absolute;
  top: 36%;
  transform: translateY(-50%);
  height: 4% !important;
  width: 100%;
  background-color: #E8ECEF;
  opacity: 1;
}
.card-block {
  padding: 1rem;
}
.field {
  font-size: 1.1rem;
  margin-bottom: 0;
}
@media screen and ( max-height: 500px ) {
  .tile {
    height: 29vh !important;
    width: 48vw !important;
  }
}
@media ( min-height: 501px ) and ( max-height: 600px ) {
  .tile {
    height: 24vh !important;
    width: 52vw !important;
  }
}
@media ( min-height: 601px ) and ( max-height: 700px ) {
  .tile {
    height: 18vh !important;
    width: 49vw !important;
  }
}
@media screen and  ( min-height: 701px ){
  .tile {
  height: 17vh !important;
  width: 50vw !important;
}
}
}
